<h1>Create New Member</h1>

<%= form_with url: "/libraries/#{@library.id}/members", method: :post, local: true do |f| %>
<p>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
</p>

<p>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
</p>

<p>
  <%= f.label :age %>
  <%= f.text_field :age %>
</p>

<p>
  <%= f.label :late_fees %>
  <%= f.text_field :late_fees %>
</p>

<div class="actions">
    <%= f.submit "Create Member", class: 'btn btn-secondary' %>
</div>

<% end %>
