<h1>Authors</h1>
<% @authors.each do |author| %>
<h3><%= author.name %></h3>
<p><%= author.published %></p>
<p><%= author.age %></p>
<%= link_to author.name, "/authors/#{author.id}" %>
<%= link_to "Edit: #{author.name}", "/authors/#{author.id}/edit" %>
<%= button_to "Delete: #{author.name}", "/authors/#{author.id}", method: :delete %>
<% end %>

<%= link_to 'Create a new author', '/authors/new' %>
