<h1>Authors</h1><br>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Author Name</th>
      <th scope="col">Published</th>
      <th scope="col">Author Age</th>
      <th scope="col">Author's Page</th>
      <th scope="col">Edit Author</th>
      <th scope="col">Delete Author</th>
    </tr>
    </thead>
  <% @authors.each do |author| %>
    <tbody>
      <tr>
        <td><%= author.name %></td>
        <td><%= author.published %></td>
        <td><%= author.age %></td>
        <td><%= link_to author.name, "/authors/#{author.id}", class: "btn btn-info" %></td>
        <td><%= link_to "Edit: #{author.name}", "/authors/#{author.id}/edit", class: "btn btn-success" %></td>
        <td><%= button_to "Delete: #{author.name}", "/authors/#{author.id}", method: :delete, class: "btn btn-danger" %></td>
      </tr>
      <% end %>
    </tbody>
</table>


<%= link_to 'Create a new author', '/authors/new', class: "btn btn-primary"  %>
<br>
<%= link_to 'Sort Authors by Number of Books', '/authors?sort=book' %>
