<h1>Create New Author</h1>
<br>
<%= form_tag("/authors", method: 'post') do %>
  <%= label_tag "name_id", "Name" %>
  <%= text_field_tag(:name) %> <br><br>
  <%= label_tag "published_id", "Published" %>
  <%= check_box_tag(:published) %> <br><br>
  <%= label_tag "age", "Age" %>
  <%= text_field_tag(:age) %> <br><br>
  <%= submit_tag("Create Author")%>
<% end %>
