<div class="card">
  <h5 class="card-header"><%= @author.name %></h5>
  <div class="card-body">
    <p class="card-text"><p>
      Published: <%= @author.published%>
      </p>
      <p>
        <%= @author.age %>
      </p>
      <p>
        Books: <%= @author.number_of_books %>
      </p>
    <%= link_to "Book Index", "/authors/#{@author.id}/books", class: "btn btn-primary" %>
    <%= link_to "Update Author", "/authors/#{@author.id}/edit", class: "btn btn-success" %>
    <br>
    <br>
    <%= button_to "Delete: #{@author.name}", "/authors/#{@author.id}", method: :delete, class: "btn btn-danger" %>
  </div>
</div>
