<h1>Exhibit Details Page</h1>

<h2><%= @exhibit.title %></h2>
<p><%= @exhibit.person_limit %></p>
<p>Photos: <%= @exhibit.photos %></p>
<p>Flash: <%= @exhibit.flash %></p>

<%= link_to "Edit Exhibit", "/exhibits/#{@exhibit.id}/edit" %>
