<h1>Edit Library</h1>

<%= form_with url: "/libraries/#{@library.id}", method: :patch, local: true do |form| %>

<p>
  <%= form.label :name %>
  <%= form.text_field :name, value: "#{@library.name}" %>
</p>

<p>
  <%= form.label :public %>
  <%= form.text_field :public, value: "#{@library.public}" %>
</p>

<p>
  <%= form.label :zip_code %>
  <%= form.text_field :zip_code, value: "#{@library.zip_code}" %>
</p>

<div class="actions">
    <%= form.submit "Save Library", class: 'btn btn-secondary' %>
  </div>
<% end %>
