<p>
  <strong>Library Name:</strong>
  <%= @library.name %>
</p>

<p>
  <strong>Public:</strong>
  <%= @library.public%>
</p>

<p>
  <strong>Zip Code:</strong>
  <%= @library.zip_code %>
</p>

<p>
  <strong>Members: </strong>
  <%= @library.number_of_members %>
</p>

<%= link_to "Edit", "/libraries/#{@library.id}/edit" %>
<%= link_to "Member Index", "/libraries/#{@library.id}/members" %>
<p>
  <%= link_to "Delete: #{@library.name}", "/libraries/#{@library.id}", method: :delete %>
</p>
