<h1>Author Books Page</h1>

<% @books.each do |book| %>
<h2><%= book.title %></h2>
<p><%= book.pages %></p>
<p>Awards: <%= book.awards %></p>
<% end %>

<%= link_to "Create New Book", "/authors/#{@author.id}/books/new" %>

<%= link_to "Sort by Titles", "/authors/#{@author.id}/books?sort=title" %>
