<h1>Author Books Page</h1>

<% @books.each do |book| %>
<div class="card w-50">
    <div class="card-body">
      <h5 class="card-title"><h2><%= book.title %></h2></h5>
      <p class="card-text">Number of Pages: <%= book.pages %></p>
<p class="card-text">Awards: <%= book.awards %></p>
<a href="#" class="btn"><%= link_to "Edit: #{book.title}", "/books/#{book.id}/edit" %></a>
<a href="#" class="card-link"><%= button_to "Delete #{book.title}", "/books/#{book.id}", method: :delete %></a>
</div>
</div><br>
<% end %>

<%= link_to "Create New Book", "/authors/#{@author.id}/books/new" %>

<%= link_to "Sort by Titles", "/authors/#{@author.id}/books?sort=title" %>
<br>
<br>

<%= form_tag("/authors/#{@author.id}/books", :method => :get) do %>
<form class="form-inline">
  <div class="form-group mb-2">
    <label for="filter_pages" class="sr-only"><%= label_tag  "page_id", "Filter Books by Number of Pages" %></label>
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <label for="filter_pages" class="sr-only"></label>
    <%= text_field_tag(:page) %> <br>
  </div>
    <%= button_to "Filter", "/authors/#{@author.id}/books?pages=num" %>
</form>
<% end %>
