<h1>Author Books Page</h1>

<% @books.each do |book| %>
<div class="card w-50">
    <div class="card-body">
      <h5 class="card-title"><h2><%= book.title %></h2></h5>
      <p class="card-text">Number of Pages: <%= book.pages %></p>
<p class="card-text">Awards: <%= book.awards %></p>
<a href="#" class="btn"><%= link_to "Edit: #{book.title}", "/books/#{book.id}/edit" %></a>
</div>
</div><br>
<% end %>

<%= link_to "Create New Book", "/authors/#{@author.id}/books/new" %>

<%= link_to "Sort by Titles", "/authors/#{@author.id}/books?sort=title" %>
