<h1>Museum Exhibits Page</h1>

<% @exhibits.each do |exhibit| %>
<h2><%= exhibit.title %></h2>
<p>Person limit: <%= exhibit.person_limit %></p>
<p>Photos: <%= exhibit.photos %></p>
<p>Flash: <%= exhibit.flash %></p>
<p>
<%= link_to "Edit: #{exhibit.title}", "/exhibits/#{exhibit.id}/edit" %>
</p>
<% end %>

<%= link_to "Create New Exhibit", "/museums/#{@museum.id}/exhibits/new" %>

<%= link_to "Sort by Title", "/museums/#{@museum.id}/exhibits?sort=title" %>
<br>
<br>
<%= form_tag("/museums/#{@museum.id}/exhibits?filter=plimit", :method => :get) do %>
<form class="form-inline">
  <div class="form-group mb-2">
    <label for="filter_pages" class="sr-only"><%= label_tag(:q, "Filter Exhibits by Person Limit") %></label>
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <label for="filter_pages" class="sr-only"></label>
    <%= number_field_tag(:filter) %> <br>
  </div>
    <%= button_to("Filter") %>
</form>
<% end %>
