<h1>Create New Exhibit</h1>

<%= form_with url: "/museums/#{@museum.id}/exhibits", method: :post, local: true do |f| %>
<p>
  <%= f.label :title %>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :person_limit %>
  <%= f.text_field :person_limit %>
</p>

<p>
  <%= f.label :photos %>
  <%= f.text_field :photos %>
</p>

<p>
  <%= f.label :flash %>
  <%= f.text_field :flash %>
</p>

<div class="actions">
    <%= f.submit "Create Exhibit", class: 'btn btn-secondary' %>
</div>

<% end %>

<h1>Authors</h1>
<% @authors.each do |author| %>
<h3><%= author.name %></h3>
<p><%= author.published %></p>
<p><%= author.age %></p>
<%= link_to author.name, "/authors/#{author.id}" %>
<%= link_to "Edit: #{author.name}", "/authors/#{author.id}/edit" %>
<%= button_to "Delete: #{author.name}", "/authors/#{author.id}", method: :delete %>
<% end %>

<%= link_to 'Create a new author', '/authors/new' %>
