<h1>Museums</h1>
<% @museums.each do |museum| %>
<h3><%= museum.name %></h3>
<p><%= museum.free %></p>
<p><%= museum.entry_fee %></p>
<%= link_to museum.name, "/museums/#{museum.id}" %>
<% end %>
<br>
<br>
<p><%= link_to 'Create a new museum', '/museums/new' %></p>
