<p>
  <strong>Museum Name:</strong>
  <%= @museum.name %>
</p>

<p>
  <strong>Free:</strong>
  <%= @museum.free%>
</p>

<p>
  <strong>Entry Fee:</strong>
  <%= @museum.entry_fee %>
</p>

<p>
  <strong>Exhibits: </strong>
  <%= @museum.number_of_exhibits %>
</p>

<%= link_to "Exhibit Index", "/museums/#{@museum.id}/exhibits" %>
<%= link_to "Edit: #{@museum.name}", "/museums/#{@museum.id}/edit" %>
<%= button_to "Delete: #{@museum.name}", "/museums/#{@museum.id}", method: :delete %>
