<h1>Edit Member</h1>

<%= form_with url: "/members/#{@member.id}", method: :patch, local: true do |form|  %>
<p>
<%= form.label :first_name %>
<%= form.text_field :first_name %>
</p>
<p>
<%= form.label :last_name %>
<%= form.text_field :last_name %>
</p>

<p>
  <%= form.label :age %>
  <%= form.text_field :age %>
</p>

<div class="custom-control custom-checkbox">
       <input type="checkbox" class="custom-control-input" id="customCheckBox1">
       <label class="custom-control-label" for="customCheckBox1">Check if has late fees</label>
   </div>

<div class="actions">
  <%= form.submit "Update Member", class: 'btn btn-secondary' %>
</div>

<% end %>
