<h1>Members Page</h1>

<% @members.each do |member| %>
<h2><%= member.first_name %>
<%= member.last_name %></h2>
<p><%= member.age %></p>
<p>Late Fees: <%= member.late_fees %></p>
<p>
<%= link_to "Edit: #{member.first_name}", "/members/#{member.id}/edit" %>
</p>

<p>
<%= link_to "View: #{member.first_name}", "/members/#{member.id}" %>
</p>

<p>
  <%= link_to "Delete: #{member.first_name}", "/members/#{member.id}", method: :delete %>
</p>
<% end %>
